<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>file detector</title>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<style type="text/css">
			div {
				border:1px solid #000000;
			}
			#header {
				border-bottom:none;
			}
			h1 {
				display:inline;
			}
			h3 {
				display:inline;
			}
		</style>
		<script type="text/javascript" src="/javascripts/addFileChanges.js"></script>
	</head>
	<body>
		<div id="header">
			<h1>&nbsp File detector</h1><h3>for test</h3>
		</div>
		<div id="filechanges">
			hello
		</div>
	</body>
</html>